<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RestrictMouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RestrictMouse.Properties.Settings>
            <setting name="mode" serializeAs="String">
                <value>window</value>
            </setting>
            <setting name="target" serializeAs="String">
                <value />
            </setting>
        </RestrictMouse.Properties.Settings>
    </userSettings>
</configuration>